<div class="container">
 <div class="forkids">
<div class="row">
      <div class="col-md-8">
      <div class="hat"></div>

      <div class="colorkids">
      <div class="paddingkid">
      
      <div class="row">
      <div class="col-md-4 ">
      <div class="eventkids">
      <a href='#'>Middleage only seems a far age</a>
      <div class="">
      
      <img class="img-responcive imgkids" src="img1.png">
      </div>
      </div>

      </div>
      <div class="col-md-4 ">
      <div class="eventkids">
      <a href='#'>Middleage only seems a far age</a>
      <div class="">
      
      <img class="img-responcive imgkids " src="img1.png">
      </div>
      </div>

      </div>
      <div class="col-md-4 ">
      <div class="eventkids">
      <a href='#'>Middleage only seems a far age</a>
      <div class="">
      
      <img class="img-responcive imgkids" src="img1.png">
      </div>
      </div>

      </div>
      </div>
      </div>
      <div class="row">
      
      <h3 class="text-center allkidsh "><i class="fa fa-eye" aria-hidden="true"></i>
<span class="forallkids">All for kids</span></h3>
</div>

      </div>
      </div>
      </div>
      </div>
      </div>