
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
        <h2 class="namecent"><%= @event.eventname %></h2>
        <p class="namecent"><%= @event.description %></p>
        <p class="namecent"><%= @event.date %></p>
        <p class="namecent"><%= @event.price %></p>
       
        </div>
        </div>
        
     
      </div>