<div class="container">
<div class="row">
<div class="col-md-8">

<div class="wrapforproject text-center">
<div class="aboutp">
<p>о проекте</p>
</div>
</div>

<div class="row">

<div class="col-md-12">
<div class="wrapaboutnav">

<ul class="list-inline text-center " role="tablist">

<li role="presentation" class="active activetab"><a href="#home" class="activea" aria-controls="home" role="tab" data-toggle="tab">о проекте</a></li>
<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">контакты</a></li>
<li  role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">сотрудничество</a></li>
</ul>
	

</div>
</div>
</div>
<div class="tab-content">
<div role="tabpanel"  id="home" class="wrapaboutmain tab-pane active fade in">
<div class="row">
<div class="col-md-12">

<h3 class="text-center" style="color: #F47A0F; font-weight: 600; font-family: 'PT Sans Narrow' ; padding-bottom:15px ;">Кто мы?</h3>
<p class="">Друзья!</p>
<p class="">Меня зовут Ольга, и я приветствую Вас на страницах интерактивного сервиса для родителей «Родные.инфо». Идея создания такого сервиса для родителей возникла у меня не случайно - я мама двух замечательных девочек, и прекрасно понимаю, с какими проблемами сталкиваются молодые родители, и как порой не хватает совета опытных мам, родных и близких, как несмотря на огромное количество предложений, сложно выбрать все самое лучше для наших любимых деток.</p>
<p>
  Интерактивный сервис «Родные. инфо» - это пространство, где каждый родитель сможет найти для себя полезную информацию: о том, что происходит в сфере материнства и детства в нашем городе, какой детский сад рекомендуют родители, в какую спортивную секцию лучше отдать ребенка, где и когда можно сходить на театральное представление или посетить творческий мастер-класс.
</p>
<p>
Дорогие друзья, я приглашаю вас в наше дружное сообщество неравнодушных родителей, оставляйте ваши комментарии и отзывы, следите за новостями, присылайте ваши пожелания и предложения! Только вместе мы сможем создать интересную и полезную интернет-площадку для родителей, и помочь друг другу в таком не легком и самом главном деле – воспитании детей!
</p>

<p class="text-right">
  Автор проекта «Родные.инфо»
</p>
<p class="text-right">
  Ольга Бахмутова
</p>
<!--
<h3 class="text-center" style="color: #F47A0F; font-weight: 600; font-family: 'PT Sans Narrow'; padding-bottom:15px ;">Наша команда</h3>
<div class="photoabout">
	<img class="img-responsive block-center" src="photo.png">
</div>
-->

<div style="padding-bottom:50px;"></div>
</div>
<h3 class="text-center" style="color: #F47A0F; font-weight: 600; font-family: 'PT Sans Narrow' ;  padding-bottom:15px ;">Посетите наши группы в соц.сетях</h3>
<div class="col-md-9 col-md-offset-3 " style="padding-bottom:50px;">
<div class="row">
  
  <div class="row vkrow paddingaboutvk ">
  <div class="col-md-3 ">
  <ul class="list-unstyled">
    
    <li><img src='v6.png' class="img-responcive"><a href="#">г. Химки</a></li>
    <li><img src='v1.png' class="img-responcive"><a href="#">г. Щелково</a></li>
    

  </ul>
</div>
<div class="col-md-3 ">
   <ul class="list-unstyled">
    
    <li><img src='v51.png' class="img-responcive"><a href="#">г. Мытищи</a></li>
    <li><img src='v53.png' class="img-responcive"><a href="#">г. Одинцово</a></li>
    

  </ul>
  </div>
<div class="col-md-3 ">
   <ul class="list-unstyled">
    
    <li><img src='v52.png' class="img-responcive"><a href="#">г. Балашиха</a></li>
    <li><img src='v51.png' class="img-responcive"><a href="#">г. Подольск</a></li>
    

  </ul>
  </div>
  
  </div>
  </div>
  </div>



</div>
</div>






<!--show 2d tab-->

<div class="wrapaboutmain tab-pane fade" role="tabpanel"  id="profile">
<div class="row">
<div class="col-md-12">



<h3 class="text-center" style="color: #F47A0F;">По всем вопросам обращайтесь по телефону</h3>
<div class="contactinner">
<div class="row paddingcontimg">
<div class="col-md-4">
<img src="photoicon.png" class="img-responsive imgcont"><p>8(926)572-96-23</p>
</div>
</div>

<div class="row paddingcontimg">
<div class="col-md-4">
<img src="email.png" class="img-responsive imgcont"><p>rodnie.info@mail.ru </p>
</div>
</div>

</div>

</div>




</div>
</div>


<!--2d ends-->


<!--3d-->

<div class="wrapaboutmain tab-pane fade" role="tabpanel"  id="messages" style="padding-bottom: 40px;">
<div class="row">
<div class="col-md-12">

<h3 class="text-center" style="color: #F47A0F;">Приглашаем к сотрудничеству Организации работающие в индустрии детства и материнства. </h3>
<p class=""></p>

<h3 class="text-center" style="color: #F47A0F;">Мы предлагаем широкие рекламные возможности:</h3>

  <ul style="padding-top: 10px;">
    <li><p>Размещение анонсов мероприятий</p></li>
   <li><p>Размещение в каталоге организаций</p></li>
   <li><p>Размещение Новостей и акций</p></li>
   <li><p>Реклама в соц.сетях</p></li>
   <li><p>Баннерная реклама</p></li>
   <li><p>и другие виды сотрудничества</p></li>
</ul>

<p class="text-center" style="padding-top: 40px;">Для вас бесплатный тестовый период и доступные цены. </p>

<!--
<div class="3dcollumnabout">
<div class="row">
<div class="col-md-4">
  <div class="listabout">
  <div class="hatcollaboration1">
    <p class="text-center">standart pack</p>
  </div>
    <ul class="">
        <li><a href ='#'>Детский творческий лагерь "СЕЛО"</a></li>
        <li><a href ='#'>Обзор самых интересных детских образовательных клубов</a></li>
        <li><a href ='#'>Самые лучшие детские лагеря</a></li>
        <li><a href ='#'>"Поиграем" - игры и игрушки для детей всех возрастов</a></li>
        <li><a href ='#'>Как увидеть одаренного ребенка?</a></li>

      </ul>
      <div class="bt">
        <p>registration</p>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="listabout">
  <div class="hatcollaboration2">
    <p class="text-center">standart pack</p>
  </div>
    <ul class="">
        <li><a href ='#'>Детский творческий лагерь "СЕЛО"</a></li>
        <li><a href ='#'>Обзор самых интересных детских образовательных клубов</a></li>
        <li><a href ='#'>Самые лучшие детские лагеря</a></li>
        <li><a href ='#'>"Поиграем" - игры и игрушки для детей всех возрастов</a></li>
        <li><a href ='#'>Как увидеть одаренного ребенка?</a></li>

      </ul>
      <div class="priceofcollaboration">
        <p>3000</p>
      </div>
      <div class="bt">
        <p>registration</p>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="listabout">
  <div class="hatcollaboration3">
    <p class="text-center">standart pack</p>
  </div>
    <ul class="">
        <li><a href ='#'>Детский творческий лагерь "СЕЛО"</a></li>
        <li><a href ='#'>Обзор самых интересных детских образовательных клубов</a></li>
        <li><a href ='#'>Самые лучшие детские лагеря</a></li>
        <li><a href ='#'>"Поиграем" - игры и игрушки для детей всех возрастов</a></li>
        <li><a href ='#'>Как увидеть одаренного ребенка?</a></li>

      </ul>
      <div class="priceofcollaboration">
        <p>1500</p>
      </div>
      <div class="bt">
        <p>registration</p>
      </div>
  </div>
</div>

  
</div>
</div>
<h3 class="text-center" style="color: #F47A0F;">Our team</h3>
<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3 class="text-center" style="color: #F47A0F;">Our team</h3>
<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="bottom3column">
<div class="row">
<div class="col-md-4">
<div class=" wrapdotted">
<p>publish</p>
</div>
</div>
<div class="col-md-4">
<div class=" wrapdotted">
<p>publish</p>
</div>
</div>
<div class="col-md-4">
<div class=" wrapdotted">
<p>publish</p>
</div>
</div>
</div>
</div>

<h3 class="text-center" style="color: #F47A0F;">Our team</h3>
<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
-->
</div>




</div>
</div>
</div>

<!--3d ends-->






























</div>



<div class="col-md-4">

<div class="col-md-11">
<div class="wrapsideabout">
<div class="hat">
        <p class="text-center">партнеры</p>
      </div>
      <div class="colorkids">

      <div class="sideimghz">
      <img src="1side.png" class="img-responsive">
      </div>

      <div class="sideimghz">
      <img src="2side.png" class="img-responsive">
      </div>

      <div class="sideimghz">
      <img src="3side.png" class="img-responsive">
      </div>

      <div class="sideimghz">
      <img src="5side.png" class="img-responsive">
      </div>
      </div>
</div>
	
</div>








</div>



</div>
</div>